{{> menu}}

{{#with singleBiome}}

<section class="ui center aligned middle aligned scrolling segment">
  <h2 class="ui header">
    {{title}}
  </h2>
  {{> listmobs}}
</section>


  <section class="ui center aligned middle aligned segment">

    {{> addmob}}

  </section>
  
{{/with}}

<footer class="site-footer">
  <div class="ui container">
    <p>© 2026 Minecraft Biome App</p>
    <p>Created by Lucy</p>
  </div>
</footer>

