{{> menu id="dashboard"}}

<section class="ui container">

  <div class="ui three large stackable cards">

    {{#each biomes}}
      <div class="card">

         <div class="image">
        <img src="{{image}}" alt="{{title}}">
      </div>

        <div class="content">
          <div class="header">{{title}}</div>
        </div>

        <div class="extra content">
          <a href="/biome/{{id}}">
            <i class="hand right point outline icon"></i>
            View Biome
          </a>
        </div>

      </div>
    {{/each}}
  </div>

   </section>

<footer class="site-footer">
  <div class="ui container">
    <p>© 2026 Minecraft Biome App</p>
    <p>Created by Lucy Harney 20111786</p>
  </div>
</footer>

