{{> menu id="Home"}}

<section class="ui center aligned middle aligned segment">
  
  <h1>Minecraft Info App</h1>
  <h2>Welcome to my App!</h2>

  <p>
    This website will give you some information about different minecraft biomes and the mobs that live within them!
  </p>

      <img src="/babymobs-artguru.png" width="700" height="400" class="ui centered image">
<br>
      <p>Biomes will be listed, and within each biome you can see which mobs reside there.</p>

</section>

<footer class="site-footer">
  <div class="ui container">
    <p>© 2026 Minecraft Biome App</p>
    <p>Created by Lucy Harney 20111786</p>
  </div>
</footer>

