{{> menu id="stats"}}

<section class="ui center aligned middle aligned segment">

  <h2>Minecraft App Statistics</h2>

  <h3 class="ui header">
    Minecraft App Statistics
  </h3>
  <p>
    The Minecraft app now contains: 
  </p>
  {{#with stats}}
   <div class="ui center aligned grid">
    
    <div class = "ui sixteen wide column">
      
        <div class="ui centered three statistics">
          <div class="ui statistic">
            <div class="value">
              <i class="tree icon"></i> 
            </div>
            <div class="label">
              {{displayNumBiomes}} biomes
            </div>
          </div>

          <div class="ui pink statistic">
            <div class="value">
              <i class="dog icon"></i> 
            </div>
            <div class="label">
              {{displayNumMobs}} mobs
            </div>
          </div> 
		  
          <div class="ui green statistic">
            <div class="value">
              <i class="balance scale icon"></i> 
            </div>
            <div class="label">
              Average mobs per <br> biome: {{displayAverage}}
            </div>
          </div>    
		  
        </div> 
    </div>
   </div>   
  {{/with}}
</section>
